/*______________________SLIDER ___________________________*/
html, body {
  background: #F7F5E6;
  height: 80%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  /* The image used */
    background-image: url(../img/3m1.jpg);

    /* Full height */
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.slide:nth-of-type(2) {
/* The image used */
    background-image: url(../img/3m2.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide:nth-of-type(3) {
/* The image used */
    background-image: url(../img/4m1.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide:nth-of-type(4) {
/* The image used */
    background-image: url(../img/4m2.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  text-decoration:none;
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
  text-decoration:none;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 30px;
  }
  .next_btn {
    right: 30px;
  }
}


/*______________________FORM ___________________________*/


textarea {
  resize: none;
}
.form-label {
  font-size: 12px;
  color: #5e9bfc;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}
.form-control {
  border-radius: 0;
  border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #5e9bfc;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999
}
.btn-start-order {
  background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
  border-color: #5e9bfc;
  color: #5e9bfc;
}

/*______________________Menu ___________________________*/


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  min-width: 240px!important;
  width: 100%;
  margin-bottom: 100px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.main-navigation {
  margin: 0 auto;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 101%;
  height: 100px;
  z-index: 100;
  background-color: #3498DB;
  -webkit-box-shadow: 0px 17px 5px -13px rgba(158, 158, 158, 0.68);
  -moz-box-shadow: 0px 17px 5px -13px rgba(158, 158, 158, 0.68);
  box-shadow: 0px 17px 5px -13px rgba(158, 158, 158, 0.68);
}

.main-menu {
  color: #fff;
  padding-top: 40px;
  padding-right: 50px;
  float: right;
}

.social-bar {
  position: fixed;
  background-color: white;
  height: 35px;
  width: 100%;
  z-index: 99;
}

.social-icons {
  margin-top: -3px;
  color: #3498DB;
  float: right;
}

.social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 18px;
  transition: all 1s;
}

.social-icons li:last-child {
  margin-right: 100px;
}

.social-icons li:hover {
  color: #888;
  cursor: pointer;
}

.main-menu li {
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0px solid #eee;
  padding-bottom: 3px;
  transition: border-width 0.2s;
}

.main-menu li a,
a:hover,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}

.main-menu li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.active {
  border-bottom: 2px solid white!important;
}

.main-menu li:hover {
  cursor: pointer;
  border-width: 2px;
}

.main-menu li:first-child {
  margin-left: 0;
}

.logo h1 {
  font-family: 'Pacifico', cursive;
  padding-top: 10px;
  padding-left: 50px;
  color: #fff;
}

.nav-color {
  background-color: #3498DB;
}

.about-row {
  background-color: #ECF0F1;
  width: 80%;
  margin: 150px auto 0 auto;
}

.about-section {
  z-index: 99;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ECF0F1;
}

.about-text {
  font-size: 23px;
  text-align: justify;
}

.about-pic {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(158, 158, 158, 0.68);
  -moz-box-shadow: 0px 0px 5px 1px rgba(158, 158, 158, 0.68);
  box-shadow: 0px 0px 5px 1px rgba(158, 158, 158, 0.68);
}

.projects-section {
  background-color: #2C3E50;
  width: 100%;
}

.projects-section h2,
.skills-section h2,
.contact-section h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}



.mobile-menu-icon {
  display: none;
  color: white;
  font-size: 23px;
  float: right;
  margin-top: 25px;
  margin-right: 50px;
}

.mobile-menu-icon:hover {
  cursor: pointer;
}

.responsive-menu {
  overflow: hidden;
  z-index: 10;
  top: 20px;
  left: 0;
  height: 0px;
  width: 100%;
  background-color: #3498DB;
  text-transform: uppercase;
}

.mobile-menu {
  margin-top: 20px;
  list-style-type: none;
  text-align: center;
  color: white;
  font-size: 18px;
}

.mobile-menu a,
a:visited,
a:active,
a:hover {
  color: white;
}

.mobile-menu li {
  margin-bottom: 10px;
  text-decoration: none;
}

.coming-soon {
  position: relative;
  clip: rect(0px, 500px, 400px, 0px);
  height: 400px;
  width: 400px;
}

.pen-center {
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .about-text {
    margin-top: 30px;
    text-align: center;
    font-size: 150%;
  }
  .about-pic {
    margin: 10px auto;
  }
  .footer {
    bottom: 250px;
  }
  .pen-frame {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .responsive-menu {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .main-menu {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 520px) {
  .social-icons {
    float: none;
    display: inline-block;
  }

  .social-icons li:last-child {
    margin-right: 0;
  }
  .social-bar {
    text-align: center;
  }
  .footer {
    height: 70px;
    bottom: 0px;
  }
}

/*_________________________CONTENT ______________________*/

html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
h2{
  font-size:1.8vw;
  font-weight:bold;
}
h3{
  font-size:1.6vw;
  font-weight:bold;
}
.description{
  padding-top:2%;
  padding-bottom:2%;
}
.description span{
  font-size:1.3vw;
}
.description p{
  font-size:1.5vw;
  font-weight:bold;
}
.description  ul{
  list-style: disc outside;
  font-size:1.3vw;
}
.list ul{
list-style-type:none;
font-size:1.3vw;
}
.list li:before {
font-family: 'FontAwesome';
content: '\f207';
margin:0 5px 0 -15px;
color:black;
}

/*____________Right_bar_min ___________________*/

section#right_bar_min{display:none;}
section#right_bar_min .right_bar{
  padding-top:5%;
}
section#right_bar_min .right_bar .sheduls h2{
  font-size:1.5vw;
}
section#right_bar_min .right_bar .sheduls h3{
  font-size:1.5vw;
}

section#right_bar_min .phones_row{
  padding-top:2%;
  padding-bottom:2%;
  background-color:white;
  border-bottom:0.1px solid #ddd;
  height:100%;
}
section#right_bar_min .phones_row:nth-child(2n+1){
  background-color:#fafafa;
}

section#right_bar_min .phone_image img{
  background-color:white;
display: block;
max-width: 90%;
height: auto;
border-radius:50px;
}
section#right_bar_min .phone_image {
  padding-top:1%;
float: left;
display: block;
width: 19%;
}

section#right_bar_min .phone_number{
float: left;
display: block;
width: 80%;
padding-left: 6%;

}
section#right_bar_min .phone_number h4{
  font-size:2vw;
  font-weight:bold
}

/*____________First content ___________________*/



section#first_content{
  padding-bottom:3%;
}
section#first_content .tarif_block{
  background-color:#3498db;
  border-radius:10px;
  border:3px solid black;
  height:200px;
  width:80%;
  margin-right:2%;
  color:white;
}
section#first_content .tarif_image img{
display: block;
max-width: 96%;
height: auto;
border-radius:50px;

border:3px solid black;
}
section#first_content .tarif_image {
float: left;
display: block;
width: 30%;
}

section#first_content .tarif_description{
float: left;
display: block;
width: 68%;
padding-top:2%;
}
section#first_content .tarif_description p{
  font-size:1.6vw;
}


/*_________________AVTO BLOCK _______________________*/

section#first_content .avto_block{
  background-color:white;
  border-radius:14px;
  border:3px solid #00a383;
  height:100%;
  width:31%;
  margin-right:2%;
  color:white;
}
section#first_content .avto-image img{
display: block;
max-width: 90%;
height: auto;

}
section#first_content .avto-image {
display: block;
background-color:white;

}

section#first_content .avto_block a{
font-size:2vw;
text-transform: uppercase;
font-weight:bold;
text-decoration:none;
}
section#first_content .avto_block a:hover{
color:#00a383;
}
section#first_content iframe{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top:2%;
  margin-bottom:2%;
}

/*___________________PHONES BLOCK__________________*/


section#first_content .phones_row{
  padding-top:2%;
  padding-bottom:2%;
  background-color:white;
  border-bottom:0.1px solid #ddd;
  height:100%;
}
section#first_content .phones_row:nth-child(2n+1){
  background-color:#fafafa;
}

section#first_content .phone_image img{
  background-color:white;
display: block;
max-width: 90%;
height: auto;
border-radius:50px;
}
section#first_content .phone_image {
  padding-top:1%;
float: left;
display: block;
width: 19%;
}

section#first_content .phone_number{
float: left;
display: block;
width: 80%;
padding-left: 6%;

}
section#first_content .phone_number h4{
  font-size:2vw;
  font-weight:bold
}
section#first_content .right_bar{
  padding-top:5%;
}
section#first_content .right_bar .sheduls h2{
  font-size:1.5vw;
}
section#first_content .right_bar .sheduls h3{
  font-size:1.5vw;
}

footer{
  display:block;
  padding-bottom:1%;
}

footer .footer_block{
  padding:2%;
  border-radius:6px;
  background-color:#f0f0f0;
}

footer .footer_block span{
  color:black;
  font-size:1.4vw;
}

/*____________min __________________*/

section#footer_min{
  display:none;
  padding-bottom:1%;
}

section#footer_min .footer_block{
  padding:2%;
  border-radius:6px;
  background-color:#f0f0f0;
}

section#footer_min .footer_block span{
  color:black;
  font-size:1.4vw;
}






@media(min-width:0px) and (max-width:320px){
   h1 {
    font-size: 8vw;
}
  h2 {
    font-size: 8.8vw;
}

section#right_bar_min{display:block;}
section#first_content .right_bar{display:none;}


section#right_bar_min .phone_number h4 {
    font-size: 5vw;
}

section#right_bar_min .right_bar .sheduls h2 {
    font-size: 5.5vw;
}

section#right_bar_min .right_bar .sheduls h3 {
    font-size: 4.5vw;
}

.description span {
    font-size: 5.3vw;
}
footer { display:none; }
section#footer_min { display:block; }

section#footer_min .footer_block span {
    font-size: 4vw;
}

/*___________Cars ______________*/

.directional_nav {
    height: 86px;
    top: -86px;
}
.slide_viewer {
    height: 170px;
}

/*______________ contacts______________*/

.form-control {
    width: 100%;
}
.btn-start-order {
    padding: 9px 36px;
}

/*___________ tarif ____________*/

.description p {
    font-size: 5.5vw;
}
section#first_content .tarif_block {
    height: 200px;
    width: 84%;
}
h3 {
    font-size: 4.6vw;
}
section#first_content .tarif_description p {
    font-size: 4.6vw;
}

}


@media(min-width:321px) and (max-width:480px){
   h1 {
    font-size: 6vw;
}
  h2 {
    font-size: 6.2vw;
}

section#right_bar_min{display:block;}
section#first_content .right_bar{display:none;}


section#right_bar_min .phone_number h4 {
    font-size: 5vw;
}

section#right_bar_min .right_bar .sheduls h2 {
    font-size: 5.5vw;
}

section#right_bar_min .right_bar .sheduls h3 {
    font-size: 4.5vw;
}

.description span {
    font-size: 4vw;
}
footer { display:none; }
section#footer_min { display:block; }

section#footer_min .footer_block span {
    font-size: 3.5vw;
}
/*___________Cars ______________*/

.directional_nav {
    height: 86px;
    top: -86px;
}
.slide_viewer {
    height: 230px;
}


/*______________ contacts______________*/

.form-control {
    width: 100%;
}
.btn-start-order {
    padding: 9px 36px;
}
/*___________ tarif ____________*/

.description p {
    font-size: 5.5vw;
}
section#first_content .tarif_block {
    height: 200px;
    width: 84%;
}
h3 {
    font-size: 4.6vw;
}
section#first_content .tarif_description p {
    font-size: 4.6vw;
}

}


@media(min-width:481px) and (max-width:768px){
    h1 {
    font-size: 4.4vw;
}
  h2 {
    font-size: 4.2vw;
}

section#right_bar_min{display:block;}
section#first_content .right_bar{display:none;}


section#right_bar_min .phone_number  {
    padding-left: 25%;
}
section#right_bar_min .phone_number h4 {
    font-size: 3.8vw;
}
section#right_bar_min .phone_image {
    padding-left:10%;
}

section#right_bar_min .right_bar .sheduls h2 {
    font-size: 3.5vw;
}

section#right_bar_min .right_bar .sheduls h3 {
    font-size: 3vw;
}

.description span {
    font-size: 3vw;
}
footer { display:none; }
section#footer_min { display:block; }

section#footer_min .footer_block span {
    font-size: 2.5vw;
}
/*___________Cars ______________*/

.directional_nav {
    height: 86px;
    top: -86px;
}
.slide_viewer {
    height: 310px;
}
/*___________ tarif ____________*/

.description p {
    font-size: 3.5vw;
}
section#first_content .tarif_block {
    height: 210px;
    width: 84%;
}
h3 {
    font-size: 3.2vw;
}
section#first_content .tarif_description p {
    font-size: 3.4vw;
}


}


@media(min-width:769px) and (max-width:991px){
  h1 {
    font-size: 3.4vw;
}
  h2 {
    font-size: 3.2vw;
}

section#right_bar_min{display:block;}
section#first_content .right_bar{display:none;}


section#right_bar_min .phone_number  {
    padding-left: 25%;
}
section#right_bar_min .phone_number h4 {
    font-size: 2.8vw;
}
section#right_bar_min .phone_image {
    padding-left:10%;
}

section#right_bar_min .right_bar .sheduls h2 {
    font-size: 2.5vw;
}

section#right_bar_min .right_bar .sheduls h3 {
    font-size: 2vw;
}

.description span {
    font-size: 2vw;
}
footer { display:none; }
section#footer_min { display:block; }

section#footer_min .footer_block span {
    font-size: 1.5vw;
}

.directional_nav {
    height: 86px;
    top: -86px;
}
.slide_viewer {
    height: 400px;
}
/*___________ tarif ____________*/

.description p {
    font-size: 2.4vw;
}
section#first_content .tarif_block {
    height: 210px;
    width: 84%;
}
h3 {
    font-size: 2.6vw;
}
section#first_content .tarif_description p {
    font-size: 2.8vw;
}

}


@media(min-width:992px) and (max-width:1099px){
  .main-menu {
    padding-right: 13px;
}
  .description span {

    font-size: 1.6vw;
}
.directional_nav {
    height: 86px;
    top: -86px;
}
.slide_viewer {
    height: 460px;
}
}


@media(min-width:1100px) and (max-width:1199px){
   .description span {
    font-size: 1.5vw;
}
section#first_content .phone_number h4 {
    font-size: 1.8vw;
    font-weight: bold;
}
.directional_nav {
    height: 86px;
    top: -86px;
}
.slide_viewer {
    height: 470px;
}
}


@media(min-width:1200px) and (max-width:1600px){
   .description span {
    font-size: 1.5vw;
}
.directional_nav {
    height: 86px;
    top: -86px;
}
.slide_viewer {
    height: 470px;
}
}